<!--
	作者：天汇
	时间：2017-11-10
	描述：vue+H5本地存储--》待办事项列表
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ToDolist</title>
		<link rel="stylesheet" type="text/css" href="css/todolist.min.css"/>
	</head>
	<body style="min-width: 850px;">
		<div id="app">
		<div class="toAdd">
			<span>添加您需要完成的任务：</span>
			<input type="text" v-model="newname" @keyup.enter='AddTask'/><!--焦点在input上，则键盘事件要绑定在input上-->
			<input type="button" value="添加"  @click='AddTask' />
		</div>
		<div class="list">
			<div class="IwantTo">
				<span class="doing">
					正在进行
				</span>
				<div class="wantTo">
					<ul>
						<li v-for="(task,index) in CpTask">
							<input type="checkbox" /><!--这个可以用覆盖层来做选中-->
							<div class="fg" @click='moveTask(index,task.name)'></div>
							<div class="select"><input v-model ='task.name' :disabled='task.disabled'/></div>
							<span class="reMove col3" @click='ToEditTask(index)' v-show = 'task.edit'>编辑</span>
							<span class="reMove col1" @click='EditTask(index,task.name)' v-show = 'task.ms'>确定</span><!---->
							<span class="reMove col2" @click='RemoveTask(index,task.name)'>删除</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="IamOK">
				<span class="doing">
					已完成的任务
				</span>
				<div class="isOk">
					<ul>
						<li v-for="(task,index) in OverTask">
							<input type="checkbox"  checked/>
							<div class="fg"  @click='moveTask(index,task.name)'></div>
							<div class="select"><input class="bg" v-model ='task.name' :disabled='undisabled'/></div>
							<span class="reMove" @click='RemoveTask(index,task.name)'>删除</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	 </div>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/todolist.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
